<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask WTForm</title>
</head>
<body>
    
    <h2>Contact Form</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% for message in form.name.errors %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    {% for message in form.email.errors %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    <form action="/contact" method="post">
        <fieldset>
            <legend>Contact Form</legend>

            <div>
                {{ form.name.label }} <br>
                {{ form.name }}

                <br>
                {{ form.gender.label }} <br>
                {{ form.gender }}

                <br>
                {{ form.address.label }} <br>
                {{ form.address }}

                <br>
                {{ form.email.label }} <br>
                {{ form.email }}

                <br>
                {{ form.age.label }} <br>
                {{ form.age }}

                <br>
                {{ form.language.label }} <br>
                {{ form.language }}
                <br>
                {{ form.submit }}
            </div>

        </fieldset>
    </form>
    
</body>
</html>